@import url(https://fonts.bunny.net/css?family=lato:100,300,400);
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
    --lt-pink: rgb(241, 232, 223);
    --off-wht: rgb(249, 245, 236);
    --rich-green: #135246;
    --tan: rgb(242, 235, 217);
    --text-color: rgb(253, 253, 253);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3.75fr;
    height: 100vh;
    width: 100vw;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: var(--lt-pink);
    display: grid;
    grid-template-rows: 0.75fr 5.25fr 3.5fr 0.1fr;
    grid-template-columns: 1fr 3.75fr 1fr;
    text-align: center;
}

.border-div {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    border-bottom: solid 2px white;
}

.border-div2 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.header-h1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px black;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.nav-bar {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 48px;
    border-bottom: solid 2px white;
    padding-bottom: 16px;
    padding-right: 16px;
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 16px;
}

.main-left {
    background-image: url("https://static.wixstatic.com/media/1b94fd_b8c40b65951a49379e282a1e08f3b6fd~mv2.jpg/v1/fill/w_1440,h_1320,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/1b94fd_b8c40b65951a49379e282a1e08f3b6fd~mv2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.main-right {
    background-color: var(--off-wht);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    padding-left: 72px;
    justify-content: center;
    padding-bottom: 24px;
}

.main-right>h1 {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    margin-bottom: -8px;
}

.main-right>p {
    font-family: 'Lato', serif;
    font-size: 20px;
    font-weight: 300;
}

.description {
    width: 100vw;
    height: 70vh;
    background-color: var(--rich-green);
    text-align: center;
    color: var(--text-color);
    font-family: 'Lato', serif;
    font-weight: 300;
    line-height: 2;
    padding-top: 32px;
}

.description>h1 {
    font-family: 'Marcellus', serif;
    font-size: 40px;
    margin-bottom: -16px;
}

.description>h3 {
    margin-bottom: -8px;
}

.description>p {
    font-size: 16px;
}

.quote {
    width: 100vw;
    height: 50vh;
    background-color: #fae9e6;
    font-family: 'Marcellus', serif;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 90vh;
}

.main2-left {
    grid-column: 1 / 2;
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main2-left>h1 {
    font-family: 'Marcellus', serif;
    font-size: 56px;
}

.main2-left>h2 {
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 20px;
}

.main2-right {
    grid-column: 2 / 3;
    background-color: var(--off-wht);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main2-right>h1 {
    font-family: 'Marcellus', serif;
    font-size: 56px;
}

.main2-right>h2 {
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 20px;
}

@media (max-width: 600px) {
    .container1 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .header {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }

    .border-div, .border-div2 {
        display: none;
    }

    .header-h1 {
        font-size: 24px;
    }

    .nav-bar {
        flex-direction: column;
        gap: 16px;
        padding: 0;
    }

    .main-left {
        grid-row: auto;
        height: 200px;
    }

    .main-right {
        padding-left: 16px;
        padding-bottom: 16px;
        text-align: center;
    }

    .main-right > h1 {
        font-size: 32px;
    }

    .main-right > p {
        font-size: 14px;
    }

    .description {
        height: auto;
        padding-top: 16px;
    }

    .description > h1 {
        font-size: 28px;
    }

    .description > h3 {
        font-size: 20px;
    }

    .description > p {
        font-size: 14px;
    }

    .quote {
        height: auto;
        font-size: 20px;
    }

    .container2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .main2-left, .main2-right {
        padding: 16px;
        text-align: center;
    }

    .main2-left > h1, .main2-right > h1 {
        font-size: 32px;
    }

    .main2-left > h2, .main2-right > h2 {
        font-size: 16px;
    }
}