.top-div {
    background-color: #4b5675;
    text-align: center;
    font-family: 'Marcellus', serif;
    color: white;
}

.top-header {
    font-size: 2rem;
    padding-top: 32px;
}

p {
    font-size: 1rem;
    font-family: 'Lato', serif;
    font-weight: 300;
    margin-left: 256px;
    margin-right: 256px;
    line-height: 2.2;
}

.bottom-p {
    padding-bottom: 32px;
}

.page-content {
    display: grid;
}