@import url(https://fonts.bunny.net/css?family=lato:100,300,400);
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
    --lt-pink: rgb(241, 232, 223);
    --off-wht: rgb(249, 245, 236);
    --rich-green: #135246;
    --tan: rgb(242, 235, 217);
    --text-color: rgb(253, 253, 253);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.header {
    background-color: var(--lt-pink);
    display: grid;
    grid-template-rows: 0.75fr 5.25fr 3.5fr 0.1fr;
    grid-template-columns: 1fr 3.75fr 1fr;
    text-align: center;
}

.border-div {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    border-bottom: solid 2px white;
}

.border-div2 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.header-h1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px black;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

.nav-bar {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 48px;
    border-bottom: solid 2px white;
    padding-bottom: 16px;
    padding-right: 16px;
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 1rem;
}

.nav-bar>li>a {
    text-decoration: none;
    color: black;
}

.nav-bar>li>a:hover {
    text-decoration: underline;
    color: rgb(109, 109, 109);
    cursor: pointer;
}

.container1 {
    display: grid;
    height: 81vh;
    width: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
}

.main-left {
    background-image: url("https://static.wixstatic.com/media/1b94fd_b8c40b65951a49379e282a1e08f3b6fd~mv2.jpg/v1/fill/w_1440,h_1320,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/1b94fd_b8c40b65951a49379e282a1e08f3b6fd~mv2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.main-right {
    background-color: var(--off-wht);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    padding-left: 72px;
    justify-content: center;
    padding-bottom: 24px;
}

.main-right>h1 {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    margin-bottom: -8px;
}

.main-right>p {
    font-family: 'Lato', serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.description {
    width: 100vw;
    height: 65vh;
    background-color: var(--rich-green);
    text-align: center;
    color: var(--text-color);
    font-family: 'Lato', serif;
    font-weight: 300;
    line-height: 2;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}

.description>h1 {
    font-family: 'Marcellus', serif;
    font-size: 2.5rem;
    margin-bottom: -16px;
}

.description>h3 {
    margin-bottom: -8px;
}

.description>p {
    font-size: 1rem;
}

.quote {
    width: 100vw;
    height: 50vh;
    background-color: #fae9e6;
    font-family: 'Marcellus', serif;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 90vh;
}

.main2-left {
    grid-column: 1 / 2;
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main2-left>h1 {
    font-family: 'Marcellus', serif;
    font-size: 3.5rem;
}

.main2-left>h2 {
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 1.25rem;
}

.main2-right {
    grid-column: 2 / 3;
    background-color: var(--off-wht);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main2-right>h1 {
    font-family: 'Marcellus', serif;
    font-size: 3.5rem;
}

.main2-right>h2 {
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 1.25rem;
}

.description2 {
    width: 100vw;
    height: 55vh;
    background-color: var(--rich-green);
    text-align: center;
    color: var(--text-color);
    font-family: 'Lato', serif;
    font-weight: 300;
    line-height: 2;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description2>p {
    font-size: 1rem;
    line-height: 3.3;
    font-weight: 300;   
}

.description2>h1 {
    font-family: 'Marcellus', serif;
    font-size: 2.5rem;
    margin-bottom: -16px;
}

.footer-h2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
}

.email {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    font-family: 'Lato', sans-serif;
    margin-top: -24px;
    font-weight: 300;
}

.copyright {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding-top: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-bottom: solid 2px white;
    padding-bottom: 16px;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1001;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
}

.overlay-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Lato', serif;
    font-size: 1rem;
}

.overlay-menu li {
    margin: 20px 0;
}

.overlay-menu a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.closebtn {
    font-size: 2.25rem;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

/*

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.show {
    opacity: 1;
}

*/

/* Media query for mobile devices */
@media (max-width: 768px) {
    .nav-bar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .container1,
    .container2 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 180vh; /* Each container takes full height */
    }

    .main-left,
    .main-right,
    .main2-left,
    .main2-right {
        height: 90vh; /* Each element within the container takes half height */
        grid-row: auto; /* Ensures they stack vertically */
        grid-column: 1 / 2; /* Span full width */
    }

    .quote,
    .description2 {
        height: 80vh; /* Each section takes full height */
        width: 100vw; /* Full width of the viewport */
    }

    .description {
        height: 100vh;
        width: 100vw;
        padding-left: 16px;
        padding-right: 16px;
    }

    .description2>h1 {
        font-size: 2rem;
    }

    .quote {
        font-size: 2rem;
    }
}